.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
img {
  width:350px;
  height:250px;
  border: 1px solid #f75c54;
  padding: 10px;
}
.Row-spacer {
  margin-bottom: 500px;
}
button {
  background-color: #f75c54;
  box-shadow: 3px 3px 5px rgba(0,0,0,.5);
  margin: 15px 0 5px 10px;
  padding:9px 15px;
}
input {
  margin: 15px 0 5px 20px;
    width: 30%;
    height: 35px;
    font-size: 17px;
    font-family: helvetica, sans-serif;
    color: #9D9D9D;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
}
a {
  text-decoration: none;
  color: #1550d0;
  }
  h3,span{
    color: #f75c54;
  }
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
